body {
  background-color: $background-color;
  color: $text-color;
}

.Home .title {
  text-align: center;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 64px;
  margin: 0 120px;
}

.ProductItem {
  padding: 36px 48px;
  background-color: $primary-color;
}

.ProductItem p {
  font-size: 24px;
}

.Home .product-board {
  margin: auto;
  margin-top: 64px;
  width: 480px;
}

.Home .product-board form {
  background-color: $primary-color;
  padding: 36px 48px;
  display: flex;
  flex-wrap: wrap;
}

.Home .product-board label {
  flex: 1 1 0;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
}

.Home .product-board label > * {
  flex-basis: 100%;
}

button {
  background-color: $text-color;
  color: black;
  padding: 16px 48px;
  outline: none;
  border: none;
  font-weight: 700;
}

input {
  border: none;
  outline: none;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
}