body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  margin: 0;
  padding: 16px 240px;
}

li {
  display: flex;
  padding: 6px 8px;
}

a {
  color: #F0EFF4;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}